/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.6/checksums/checksums.lock
/.idea/modules/app/Chill_Music_Player.app.androidTest.iml
/.idea/modules/app/Chill_Music_Player.app.iml
/.idea/modules/app/Chill_Music_Player.app.main.iml
/.idea/modules/app/Chill_Music_Player.app.unitTest.iml
/.idea/modules/Chill_Music_Player.iml
/.gradle/config.properties
/.gradle/8.6/executionHistory/executionHistory.bin
/.gradle/8.6/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.6/fileHashes/fileHashes.bin
/.gradle/8.6/fileHashes/fileHashes.lock
/.gradle/8.6/dependencies-accessors/gc.properties
/.gradle/8.6/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/libraries/Gradle__androidx_activity_activity_1_9_0_aar.xml
/.idea/libraries/Gradle__androidx_activity_activity_compose_1_9_0_aar.xml
/.idea/libraries/Gradle__androidx_activity_activity_ktx_1_9_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_jvm_1_8_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_2_0.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_compose_animation_animation_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_animation_animation_core_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_foundation_foundation_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_foundation_foundation_layout_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_material3_material3_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_compose_material_material_icons_core_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_material_material_ripple_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_runtime_runtime_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_runtime_runtime_saveable_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_geometry_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_graphics_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_test_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_test_junit4_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_test_manifest_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_text_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_data_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_preview_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_compose_ui_ui_unit_android_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_concurrent_concurrent_futures_1_1_0.xml
/.idea/libraries/Gradle__androidx_core_core_1_13_1_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_13_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_jvm_2_8_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_8_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_android_2_8_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_android_2_8_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_android_2_8_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_8_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_8_1_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_2_1_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_ktx_1_2_1_aar.xml
/.idea/libraries/Gradle__androidx_test_annotation_1_0_1_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_5_1_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_5_1_aar.xml
/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_5_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_6_1_aar.xml
/.idea/libraries/Gradle__androidx_test_runner_1_5_2_aar.xml
/.idea/libraries/Gradle__androidx_test_services_storage_1_4_2_aar.xml
/.idea/libraries/Gradle__androidx_tracing_tracing_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_2.xml
/.idea/libraries/Gradle__com_google_guava_listenablefuture_1_0.xml
/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__junit_junit_4_13_2.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_23_0_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_9_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_9_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_9_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_9_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_7_3.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_7_3.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_test_jvm_1_7_3.xml
/.gradle/8.6/fileChanges/last-build.bin
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsKotlinPluginAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsPluginAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibs.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsKotlinPluginAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsPluginAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/local.properties
/.gradle/8.6/checksums/md5-checksums.bin
/.gradle/8.6/dependencies-accessors/dcbcd87108cec70bb467e05d5172bee8efb944af/metadata.bin
/.idea/misc.xml
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.6/fileHashes/resourceHashesCache.bin
/.gradle/8.6/checksums/sha1-checksums.bin
/.idea/vcs.xml
/.idea/workspace.xml
.idea/migrations.xml
.idea/kotlinc.xml
.idea/compiler.xml
.idea/.name
